@import url(https://fonts.googleapis.com/css?family=Oswald:200,400,600&display=swap);@-webkit-keyframes loadPage {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes loadPage {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes loadPageStart {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loadPageStart {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes loadPage_3d {
  0% {
    opacity: 0;
    transform: rotateX(15deg) scale(1.5) translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: rotateX(0) scale(1) translate(-50%, -50%);
  }
}

@keyframes loadPage_3d {
  0% {
    opacity: 0;
    transform: rotateX(15deg) scale(1.5) translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: rotateX(0) scale(1) translate(-50%, -50%);
  }
}

@-webkit-keyframes opacity_0_1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity_0_1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes load_left_op_07 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes load_left_op_07 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.loadPage_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-30deg, #5260e0 50%, #5288e0 75%, #5260e0 100%);
  opacity: 1;
  transition: 0.5s;
  z-index: 1000;
}

.loadPage_main .center-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 50%;
  transform: translate(-50%, -50%);
}

.loadPage_main .center-wrap .line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  transform: translateX(5px) translateY(0) scale(0);
  transition: 0.2s linear;
  border-radius: 50%;
}

.loadPage_main .center-wrap .addAnime {
  -webkit-animation: loadPage_main 1s linear infinite both;
          animation: loadPage_main 1s linear infinite both;
}

.loadPage-hide {
  display: none;
}

@-webkit-keyframes loadPage_main {
  0% {
    transform: translateX(5px) translateY(0) scale(0);
  }

  50% {
    transform: translateX(5px) translateY(20px) scale(1.8);
  }

  100% {
    transform: translateX(5px) translateY(0) scale(0);
  }
}

@keyframes loadPage_main {
  0% {
    transform: translateX(5px) translateY(0) scale(0);
  }

  50% {
    transform: translateX(5px) translateY(20px) scale(1.8);
  }

  100% {
    transform: translateX(5px) translateY(0) scale(0);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

::-webkit-scrollbar {
  width: 10px;
  background-image: linear-gradient(-30deg, #5260e0 50%, #5288e0 75%, #5260e0 100%);
}

::-webkit-scrollbar-thumb {
  background-color: #5288e0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.main-wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.screen {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-image: linear-gradient(90deg, #5288e0 50%, #5260e0, #5288e0 100%);
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
}

.screen ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.screen ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 60%;
  margin: 15px;
  transform: translateY(0);
  opacity: 1;
}

.screen ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 1.8rem;
  transition: 0.4s ease-in-out;
}

.screen ul li .si {
  background-color: #4957d6;
  color: white;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.screen ul li .si:hover {
  background-color: transparent;
  color: white;
  border-radius: 5px;
}

.screen ul li a:hover {
  color: #52e0e0;
}

.screen ul li a:after {
  position: absolute;
  content: "";
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.screen ul li a:hover:after {
  background-color: #52e0e0;
  bottom: 0;
}

.screen ul li:nth-last-child(1) {
  margin-right: 150px;
}

.screen-sticky {
  position: fixed;
  top: 0;
}

.mainH,
.wrong {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: loadPage 1s ease-in-out 1 both;
          animation: loadPage 1s ease-in-out 1 both;
  font-size: 7rem;
  color: grey;
}

.wrong {
  color: red;
}

@media (max-width: 1024px) {
  .screen {
    display: none;
  }

  .bars-wrap {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 101;
  }

  .bars-wrap .bars {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .bars-wrap .bars .bar {
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #eeeeee;
    box-shadow: 0 0 3px 1px #818181;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease-in-out;
  }

  .bars-wrap .bars .top {
    top: 30%;
  }

  .bars-wrap .bars .bottom {
    top: 60%;
  }

  .bars-wrap .bars .middle {
    top: 50%;
  }

  .mobile {
    display: block;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-30deg, #5260e0 50%, #5288e0 75%, #5260e0 100%);
    transition: 1.2s ease-in-out;
    z-index: 100;
  }

  .mobile ul {
    padding: 50px 0;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .mobile ul li {
    width: 200px;
    height: 50px;
    margin: 5px 0;
    transition: 0.6s ease-in-out;
    transform: translateY(80px);
    opacity: 0;
  }

  .mobile ul li a {
    text-transform: uppercase;
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 2px black;
  }

  .mobile ul li a:after {
    display: none;
  }

  .mobile ul li:nth-last-child(1) {
    margin-right: 0;
  }

  .active_menu {
    left: 0;
  }
}

@media (max-width: 600px) {
  .bars-wrap {
    width: 30px;
    height: 30px;
  }

  .mobile ul li {
    height: 40px;
    margin: 2px;
  }

  .mobile ul li a {
    padding: 0 2px;
    font-size: 1.6rem;
  }
}

.start-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 168vh;
  background-color: #eeeeee;
}

.start-wrap .start_header,
.start-wrap .start_title {
  width: 100%;
}

.start-wrap .start_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-image: url(/images/brazil_1542335_1920.jpg?bbc8dd5297aef2a1051f70db86d64832);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.start-wrap .start_header .get_started {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  -webkit-animation: opacity_0_1 1s 1s ease-in-out 1 both;
          animation: opacity_0_1 1s 1s ease-in-out 1 both;
}

.start-wrap .start_header .get_started a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #5288e0 50%, #5260e0, #5288e0 100%);
  color: #dbdbdb;
  font-size: 17px;
  border-radius: 10px;
  opacity: 0.8;
  transition: 0.6s ease-in-out;
  transform: scale(1);
}

.start-wrap .start_header .get_started:hover a {
  opacity: 1;
  box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.698);
  transform: scale(1.1);
}

.start-wrap .start_header .start_title_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.start-wrap .start_header .start_title_header .start_title_h1 {
  -webkit-animation: loadPageStart 1s ease-in-out 1 both;
          animation: loadPageStart 1s ease-in-out 1 both;
  font-size: 15rem;
  color: #dbdbdb;
  text-shadow: 0 0 10px black, 0 0 100px #1a008d;
}

.start-wrap .start_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

.start-wrap .start_title .start_title_h1 {
  -webkit-animation: loadPageStart 1s ease-in-out 1 both;
          animation: loadPageStart 1s ease-in-out 1 both;
  font-size: 9rem;
  color: #414141;
}

.start-wrap .start_title .start_title_h2 {
  -webkit-animation: loadPageStart 1s ease-in-out 1 both;
          animation: loadPageStart 1s ease-in-out 1 both;
  font-size: 4rem;
  color: #414141;
}

@media (max-width: 1024px) {
  .start-wrap .start_header .get_started {
    bottom: 5%;
  }

  .start-wrap .start_header .get_started a {
    font-size: 17px;
    opacity: 1;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 10rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 6rem;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .start-wrap .start_header .get_started {
    bottom: 20%;
  }

  .start-wrap .start_header .get_started a {
    font-size: 17px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 10rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 9rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .start-wrap .start_header .get_started {
    bottom: 5%;
    width: 170px;
    height: 40px;
  }

  .start-wrap .start_header .get_started a {
    font-size: 19px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 9rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 6.8rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .start-wrap .start_header .get_started a {
    font-size: 14px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 7.2rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 6rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  .start-wrap .start_header .get_started a {
    font-size: 19px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 10rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 7rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 3rem;
  }
}

@media (max-width: 568px) and (orientation: landscape) {
  .start-wrap .start_header .get_started {
    width: 110px;
    height: 30px;
  }

  .start-wrap .start_header .get_started a {
    font-size: 14px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 6rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 4rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 2rem;
  }
}

@media (max-width: 533px) and (orientation: landscape) {
  .start-wrap .start_header .get_started {
    width: 120px;
    height: 30px;
  }

  .start-wrap .start_header .get_started a {
    font-size: 14px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 6.5rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 5rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 3rem;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  .start-wrap .start_header .get_started {
    width: 140px;
    height: 35px;
  }

  .start-wrap .start_header .get_started a {
    font-size: 13px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 7rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 4.7rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 2rem;
  }
}

@media (max-width: 384px) {
  .start-wrap .start_header .get_started {
    width: 130px;
    height: 40px;
  }

  .start-wrap .start_header .get_started a {
    font-size: 14px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 6rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 4.7rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 2rem;
  }
}

@media (max-width: 360px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .start-wrap .start_header .get_started {
    width: 150px;
    height: 40px;
    bottom: 20%;
  }

  .start-wrap .start_header .get_started a {
    font-size: 14px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 6rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 4.7rem;
  }

  .start-wrap .start_title .start_title_h2 {
    font-size: 2rem;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .start-wrap .start_header .get_started {
    width: 140px;
    height: 35px;
  }

  .start-wrap .start_header .start_title_header .start_title_h1 {
    font-size: 5.2rem;
  }

  .start-wrap .start_title .start_title_h1 {
    font-size: 4.2rem;
  }
}

.about-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  text-align: center;
  width: 100%;
  height: auto;
  -webkit-animation: opacity_0_1 2s 2s ease-out 1 both;
          animation: opacity_0_1 2s 2s ease-out 1 both;
}

.about-wrap .about_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
}

.about-wrap .about_content .about-logo-head {
  text-align: center;
  width: 100%;
  height: 60%;
  padding: 60px;
}

.about-wrap .about_content .about-logo-head img {
  width: 80%;
}

.about-wrap .about_content .about-logo-head .small {
  width: 50%;
  box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.596);
  border-radius: 10px;
}

.about-wrap .about_content .about_title {
  font-size: 10rem;
}

.about-wrap .about_content .about_p,
.about-wrap .about_content .about_p1 {
  text-align: left;
  text-indent: 50px;
  font-size: 4rem;
}

.about-wrap .about_content .about_p {
  padding: 100px 100px 10px 100px;
}

.about-wrap .about_content .about_p1 {
  padding: 10px 100px;
}

.about-wrap .about_content .about_p1 span {
  font-size: 5.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.about-wrap .about_content .about_p1 .time_p {
  font-size: 4rem;
  font-weight: 200;
}

.about-wrap .about_content .about_p1 a {
  color: #940000;
  text-decoration: none;
}

.about-wrap .about_content .about_p1 a:hover {
  text-decoration: underline;
}

.about-wrap .about_content .about_p1_m {
  text-align: center;
}

.about-wrap .about_content hr {
  background-color: grey;
  width: 100%;
  margin: 120px;
}

.about-wrap .about_content .name-IH {
  font-size: 12rem;
  font-weight: 200;
}

.about-wrap .about_content .h3-top-title {
  font-size: 4rem;
}

@media screen and (max-width: 1024px) {
  .about-wrap {
    padding-top: 50px;
  }

  .about-wrap .about_content .about-logo-head {
    padding: 60px 60px 135px 60px;
  }

  .about-wrap .about_content .about-logo-head img {
    width: 700px;
  }

  .about-wrap .about_content .about-logo-head .small {
    width: 650px;
  }

  .about-wrap .about_content .about_title {
    font-size: 9.5rem;
  }

  .about-wrap .about_content .about_p,
  .about-wrap .about_content .about_p1 {
    font-size: 3.5rem;
  }

  .about-wrap .about_content .about_p {
    padding: 30px 50px;
  }

  .about-wrap .about_content .about_p1 {
    padding: 0 50px;
  }

  .about-wrap .about_content .about_p1 span {
    font-size: 4rem;
  }

  .about-wrap .about_content .about_p1 .time_p {
    font-size: 3.5rem;
  }

  .about-wrap .about_content .about_p1 a:hover {
    text-decoration: none;
  }

  .about-wrap .about_content hr {
    margin: 80px;
  }

  .about-wrap .about_content .name-IH {
    font-size: 9rem;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .about-wrap .about_content {
    width: 100%;
  }

  .about-wrap .about_content .about-logo-head {
    padding: 80px 0;
  }

  .about-wrap .about_content .about-logo-head img {
    width: 600px;
  }

  .about-wrap .about_content .about-logo-head .small {
    width: 700px;
  }

  .about-wrap .about_content .about_title {
    font-size: 6rem;
    margin-bottom: 50px;
  }

  .about-wrap .about_content .about_p,
  .about-wrap .about_content .about_p1 {
    font-size: 3rem;
  }

  .about-wrap .about_content .about_p {
    padding: 30px 50px;
  }

  .about-wrap .about_content .about_p1 {
    padding: 0 50px;
  }

  .about-wrap .about_content .about_p1 span {
    font-size: 4rem;
  }

  .about-wrap .about_content .about_p1 .time_p {
    font-size: 3.5rem;
  }

  .about-wrap .about_content .about_p1 a:hover {
    text-decoration: none;
  }

  .about-wrap .about_content hr {
    margin: 80px;
  }

  .about-wrap .about_content .name-IH {
    font-size: 9rem;
  }
}

@media screen and (max-width: 600px) {
  .about-wrap .about_content .about-logo-head {
    padding: 80px 0;
  }

  .about-wrap .about_content .about-logo-head img {
    width: 85%;
  }

  .about-wrap .about_content .about-logo-head .small {
    width: 80%;
  }

  .about-wrap .about_content .about_title {
    font-size: 5rem;
  }

  .about-wrap .about_content .about_p,
  .about-wrap .about_content .about_p1 {
    font-size: 2.6rem;
  }

  .about-wrap .about_content .name-IH {
    font-size: 7.5rem;
  }

  .about-wrap .about_content .h3-top-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 414px) {
  .about-wrap .about_content .about-logo-head {
    padding: 80px 0;
  }

  .about-wrap .about_content .about-logo-head img {
    width: 85%;
  }

  .about-wrap .about_content .about-logo-head .small {
    border-radius: 0;
    width: 100%;
  }

  .about-wrap .about_content .about_title {
    font-size: 4rem;
  }

  .about-wrap .about_content .about_p,
  .about-wrap .about_content .about_p1 {
    font-size: 2.2rem;
    padding: 10px 20px;
  }

  .about-wrap .about_content .about_p1 span {
    font-size: 2.2rem;
  }

  .about-wrap .about_content .about_p1 .time_p {
    font-size: 2.3rem;
  }

  .about-wrap .about_content .name-IH {
    font-size: 5.5rem;
  }

  .about-wrap .about_content .h3-top-title {
    font-size: 2.8em;
  }
}

@media screen and (max-width: 360px) {
  .about-wrap .about_content .about-logo-head {
    padding: 80px 0;
  }

  .about-wrap .about_content .about-logo-head img {
    width: 95%;
  }

  .about-wrap .about_content .about_p,
  .about-wrap .about_content .about_p1 {
    font-size: 2rem;
  }

  .about-wrap .about_content .about_p1 span {
    font-size: 2.1rem;
  }

  .about-wrap .about_content .about_p1 .time_p {
    font-size: 2.1rem;
  }

  .about-wrap .about_content .name-IH {
    font-size: 4.5rem;
  }

  .about-wrap .about_content .h3-top-title {
    font-size: 2.5em;
  }
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: linear-gradient(-30deg, #5260e0 50%, #5288e0 75%, #5260e0 100%);
}

.gallery-container .gallery_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  height: auto;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 20px 10px #3b75fb;
}

.gallery-container .gallery_wrap .gallery_wrap_header {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.gallery-container .gallery_wrap .gallery_wrap_header .slide-img {
  width: 100%;
  height: 100%;
  background-image: url(/images/img_slider/img-s-0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.6s linear;
}

.gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 24, 46, 0.507);
  overflow: hidden;
}

.gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title .wrap-p {
  width: 100%;
  height: 20%;
  opacity: 0;
  transition: 0.7s linear;
  transform: translateY(25px);
}

.gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title .wrap-p p {
  color: white;
  font-size: 15rem;
  text-align: center;
}

.gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title .showTxt {
  opacity: 1;
  transform: translateY(0);
}

.gallery-container .gallery_wrap .memories_p {
  font-size: 8rem;
  margin: 120px 0 50px;
  text-transform: uppercase;
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 100px 0;
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 50vh;
  overflow: hidden;
  margin-bottom: 30px;
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
  width: 50%;
  height: 100%;
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  font-size: 3rem;
  background-image: linear-gradient(-30deg, #5260e0 50%, #5288e0 75%, #5260e0 100%);
  color: wheat;
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
  overflow: hidden;
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container img {
  width: 100%;
  transition: 0.4s ease-out;
  transform: scale(1);
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container img:hover {
  transform: scale(1.15);
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd),
.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(even) {
  border-radius: 20px;
  border-bottom: 1px solid rgba(0, 85, 165, 0.465);
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
  flex-direction: row-reverse;
  border-right: 2px solid rgba(0, 85, 165, 0.465);
  border-left: none;
  border-bottom-left-radius: -20px;
}

.gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(even) {
  border-right: none;
  border-left: 2px solid rgba(0, 85, 165, 0.465);
}

@media (max-width: 1366px) {
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    height: 40vh;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    flex-direction: column;
    height: 80vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    width: 100%;
    height: 50%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    flex-direction: column;
    font-size: 5rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
    flex-direction: column;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    flex-direction: row;
    height: 50vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    width: 50%;
    height: 100%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    flex-direction: row;
    font-size: 2.4rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    flex-direction: row;
    height: 40vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    width: 50%;
    height: 100%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    flex-direction: row;
    font-size: 2.4rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

@media (max-width: 812px) and (max-height: 375px) {
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    height: 65vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    font-size: 1.8rem;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    flex-direction: column;
    height: 75vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    width: 100%;
    height: 50%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    flex-direction: column;
    font-size: 4rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    overflow: hidden;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container img {
    width: 100%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
    flex-direction: column;
  }
}

@media (max-width: 736px) and (max-height: 414px) {
  .gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title .wrap-p p {
    font-size: 9rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    height: 52vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    font-size: 2rem;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  .gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title .wrap-p p {
    font-size: 10rem;
  }

  .gallery-container .gallery_wrap .memories_p {
    font-size: 6rem;
    margin: 100px 0 50px;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    flex-direction: column;
    height: 75vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    width: 100%;
    height: 50%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    flex-direction: column;
    font-size: 3rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    overflow: hidden;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container img {
    width: 100%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
    flex-direction: column;
  }
}

@media (max-width: 533px) and (orientation: landscape) {
  .gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title .wrap-p p {
    font-size: 6rem;
  }

  .gallery-container .gallery_wrap .memories_p {
    font-size: 4rem;
    margin: 90px 0 30px;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    flex-direction: column;
    height: 150vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    width: 100%;
    height: 50%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    flex-direction: column;
    font-size: 2rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    overflow: hidden;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container img {
    width: 100%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
    flex-direction: column;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  .gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title .wrap-p p {
    font-size: 8rem;
  }

  .gallery-container .gallery_wrap .memories_p {
    font-size: 5rem;
    margin: 90px 0 30px;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    flex-direction: column;
    height: 67vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    width: 100%;
    height: 50%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    flex-direction: column;
    font-size: 2rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    overflow: hidden;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container img {
    width: 100%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
    flex-direction: column;
  }
}

@media (max-width: 375px) and (min-height: 800px) {
  .gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title .wrap-p p {
    font-size: 8rem;
  }

  .gallery-container .gallery_wrap .memories_p {
    font-size: 5rem;
    margin: 90px 0 30px;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    flex-direction: column;
    height: 60vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    width: 100%;
    height: 50%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    flex-direction: column;
    font-size: 2rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    overflow: hidden;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container img {
    width: 100%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
    flex-direction: column;
  }
}

@media (max-width: 360px) and (orientation: portrait) {
  .gallery-container .gallery_wrap .gallery_wrap_header .slide-img .slide-img-title .wrap-p p {
    font-size: 8rem;
  }

  .gallery-container .gallery_wrap .memories_p {
    font-size: 5rem;
    margin: 90px 0 30px;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap {
    flex-direction: column;
    height: 67vh;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc,
  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    width: 100%;
    height: 50%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .desc {
    flex-direction: column;
    font-size: 1.8rem;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container {
    overflow: hidden;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap .img-container img {
    width: 100%;
  }

  .gallery-container .gallery_wrap .gallery_wrap_main_wrap .img-wrap:nth-child(odd) {
    flex-direction: column;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 120px;
  font-size: 1.6rem;
  color: white;
  background-color: #002d61;
  z-index: 100;
}

@media (max-width: 1024px) {
  footer {
    font-size: 2rem;
  }
}

@media (max-width: 732px) and (orientation: landscape) {
  footer {
    height: 60px;
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  footer {
    height: 100px;
    font-size: 1.5rem;
  }
}

@media (max-width: 568px) and (orientation: landscape) {
  footer {
    height: 100px;
    font-size: 1rem;
  }
}

@media (max-width: 533px) and (orientation: landscape) {
  footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 533px) {
  footer {
    flex-direction: column;
    height: 100px;
    font-size: 1.2rem;
  }
}

@media (max-width: 384px) {
  footer {
    height: 80px;
    font-size: 1.1rem;
  }
}

@media (max-width: 360px) {
  footer {
    font-size: 1.1rem;
  }
}

