$sideSpace: 20px;

.dashboard-home-wrap {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 100vh;

    padding: 80px 0;

    .home-statistics {

        width: 90%;
        height: 300px;
        border-radius: 5px;
        box-shadow: 0 7px 20px 3px rgba(0, 36, 77, 0.753);
        background-color: rgb(26, 34, 38);

        .h-s-wrap-top {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100%;

            .s1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                width: 400px;
                height: 40%;
                background-color: rgb(26, 34, 38);

                border-radius: 10px 10px 10px 10px;

                .s1-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 30%;
                    background-color: rgba(0, 103, 151, 0.596);
                    color: rgb(196, 196, 196);
                    font-size: 1.8rem;
                    letter-spacing: 2px;
                    box-shadow: inset 0 -5px 10px 1px rgba(0, 36, 77, 0.568);
                    border-radius: 10px 10px 0 0;
                }

                .s1-details {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;
                    height: 70%;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0 7px 20px 3px rgba(0, 36, 77, 0.24);
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;

                    .s1det,
                    .sd {
                        p {
                            padding: 5px 0;
                            font-size: 1.6rem;
                        }
                    }

                    .s1det {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-direction: column;
                    }

                    .sd {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .h-s-wrap-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 7px 20px 3px rgba(1, 27, 58, 0.753);
        background-color: rgb(26, 34, 38);
        color: honeydew;
        padding: 20px;
        padding-bottom: 50px;
        margin-top: 50px;

        h1 {
            margin: 20px;
            font-size: 3rem;
        }

        .alert {


            .alert-success-member {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 50;
                width: 700px;
                height: 100px;
                background-color: rgba(124, 255, 124, 0.828);
                color: rgb(2, 75, 0);
                border: 1px solid rgb(2, 95, 2);
                border-radius: 10px;
                font-size: 2rem;


                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: auto;
                    height: auto;
                    // border: 1px solid white;
                    color: white;
                    // border-radius: 2px;
                    // border-bottom-left-radius: 50%;
                    background-color: transparent;
                    font-size: 1.5rem;
                    padding: 2px 20px 3px;
                    transition: .3s ease-in-out;


                }

                span:hover {

                    color: green;
                }


            }

            .alertMember {
                display: none;
            }
        }

        .add-newMember {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(0, 103, 151, 0.596);
            width: 600px;
            padding: 30px;
            border-radius: 10px;
            margin-bottom: 80px;
            margin-top: 80px;

            p {
                font-size: 3rem;
                margin-bottom: 30px;
            }



            form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                width: 90%;


                .input-label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;

                    width: 80%;
                    padding: 10px 0;

                    label {
                        font-size: 1.7rem;
                    }

                    input {
                        width: 60%;
                        border: none;
                        background-color: transparent;
                        color: wheat;
                        border-bottom: 1px solid rgba(245, 245, 245, 0.424);
                        text-align: center;
                        padding: 5px 0
                    }

                    input:focus {
                        outline: transparent;
                        color: white;
                    }

                    .submitMember {
                        width: 100%;
                        border: 1px solid rgba(245, 245, 245, 0.424);
                        margin-top: 50px;
                        transition: .3s ease-in-out;
                    }

                    .submitMember:hover {
                        width: 100%;
                        background-color: wheat;
                        border: 1px solid rgba(0, 103, 151, 0.596);
                        color: rgba(0, 103, 151, 0.596);
                        ;

                    }

                    ::placeholder {
                        color: rgba(0, 103, 151, 0.719);
                    }
                }


            }


        }

        table {
            width: 90%;
            height: 100%;
            color: wheat;
            background-color: rgb(33, 42, 47);
            box-shadow: 0 0 .2rem .1rem rgba(245, 222, 179, 0.52);
            padding: 20px;
            border-radius: 5px;

            tr {
                transition: .1s linear;

                th {
                    border: 1px solid white;
                    color: honeydew;
                }

                td {
                    text-align: center;
                    text-shadow: 0 0 2px rgb(139, 139, 139);
                    border-top: 1px solid rgba(245, 222, 179, 0.507);
                    border-bottom: 1px solid rgba(245, 222, 179, 0.507);

                    button {
                        color: honeydew;
                        width: 100%;
                        height: 100%;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            text-decoration: none;
                            color: whitesmoke;
                        }
                    }

                    .edit-btn {
                        background-color: rgb(23, 114, 0);
                    }

                    .delete-btn {
                        background-color: rgb(114, 9, 0);
                    }
                }

                .action-btn {
                    border: none;
                }

                td:nth-child(1) {
                    border-left: 1px solid rgba(245, 222, 179, 0.507);
                }

                td:nth-child(5) {
                    border-right: 1px solid rgba(245, 222, 179, 0.507);
                }

                .td-color {
                    color: rgb(104, 104, 104);
                }
            }

            tr:nth-of-type(1):hover {
                background-color: transparent;
            }

            tr:hover {
                background-color: rgba(0, 103, 151, 0.801);
            }
        }
    }
}
