.head {
    position: fixed;
    top: 0;
    left: $adminAsideWidth;
    right: $adminAsideWidth;
    height: 40px;
    background-color: rgb(34, 45, 50);
    z-index: 99;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100%;
        color: wheat;
        font-size: 1.8rem;
    }
}
