.admin-log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 246, 235);

    .wrap-log {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50rem;
        height: 90%;
        background-color: wheat;
        border-radius: 0.8rem;
        box-shadow: 0 0 2rem 0.5rem rgba(128, 128, 128, 0.575);

        h2 {
            font-size: 3rem;
            margin: 3rem 0;
        }

        p {
            font-size: 1.8rem;
        }

        form {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 90%;

            .imgcontainer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25rem;
                height: 25rem;
                background-color: rgb(166, 207, 83);
                border-radius: 50%;
                box-shadow: 0 0 2rem 0.5rem rgba(134, 127, 113, 0.575);

                img {
                    width: 80%;

                    transition: 0.7s ease-in-out;
                }
            }

            .container {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                width: 80%;

                label {
                    margin: 1rem 0;
                    font-size: 2rem;
                }

                input {
                    width: 25rem;
                    padding: 0.5rem;
                    padding-left: 1rem;
                    border: none;
                    border-radius: 0.5rem;
                }

                input:focus {
                    background-color: rgb(255, 254, 188);
                    outline: none;
                }

                ::placeholder {
                    color: rgb(214, 214, 214);
                }

                .checkbox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 4rem;

                    font-size: 1.5rem;

                    input {
                        width: 10%;
                    }
                }

                button {
                    margin: 2rem 0;
                    width: 15rem;
                    height: 3rem;
                    color: white;
                    border-radius: 0.5rem;
                    background-color: rgb(0, 105, 217);
                }

                button:hover {
                    background-color: rgb(2, 118, 241);
                }
            }

            .small {
                flex-direction: row;
                font-size: 1.4rem;
            }
        }

        form:hover {
            .imgcontainer {
                img {
                    width: 100%;

                }
            }
        }
    }
}
