@keyframes loadPage {
    0% {
        opacity: 0;
        transform: translate(-50%, -30%)
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%)
    }
}

@keyframes loadPageStart {
    0% {
        opacity: 0;
        transform: translateY(50%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes loadPage_3d {
    0% {
        opacity: 0;
        transform: rotateX(15deg) scale(1.5) translate(-50%, -30%)
    }

    // 50% {
    //     transform: rotateX(10deg) translate(-50%, -50%)
    // }

    100% {
        opacity: 1;
        transform: rotateX(0) scale(1) translate(-50%, -50%)
    }
}

@keyframes opacity_0_1 {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

@keyframes load_left_op_07 {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}