@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterEvenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexCenterBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexCenterColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin fixedCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
